:root {
box-sizing: border-box;
background-color: #101010;
}

header {
  display: flex;
  justify-content: center;
  background-color: #101010;
  color: #27a1e3;
  font-family: "Libre Franklin";
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  filter: drop-shadow( .2mm .4mm .6mm #27a1e370);
}

body {
  background-color: #101010;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #101010;
  color: #285a9f;
  font-weight: bold;
  font-variant: small-caps;
}


a> img {
  height: 18rem;
  margin: 4px;
  margin-bottom: 10px;
  border-radius: 5px 70px 20px 20px;
  border: solid 4px #285a9f;
  filter: drop-shadow( .6mm .6mm 0mm #27a1e3);
}


.nav {
  display: flex;
  justify-content: center;
}

Button {
  height: 3rem;
  font-size: larger;
  background-color: #e5e9f2;
  box-shadow: inset 0px 0px 10px #285a9f;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #0d0f1b;
  border: solid 3px #101010
}
/*button states*/
#maleButton {
  border: solid 2px #7b8da5;
  border-radius: 35px 0px 0px 5px;
}
#maleButton:hover {
  background-color: #27a1e3;
  box-shadow: inset 0px 0px 10px #ffffff;
  border-color: #fafafa;
  color: #fafafa;
}
#maleButton:active {
  background-color: #27a1e3;
  box-shadow: inset 0px 0px 10px #ffffff;
  border-color: #fafafa;
  color: #8ff2ff;
}
#femaleButton {
  border: solid 2px #7b8da5;
}
#femaleButton:hover {
  background-color: #27a1e3;
  box-shadow: inset 0px 0px 10px #ffffff;
  border-color: #fafafa;
  color: #fafafa;
}
#femaleButton:active {
  background-color: #27a1e3;
  box-shadow: inset 0px 0px 10px #ffffff;
  border-color: #fafafa;
  color: #8ff2ff;
}
#otherButton {
  border: solid 2px #7b8da5;
  border-radius: 0px 35px 5px 0px;
}
#otherButton:hover {
  background-color: #27a1e3;
  box-shadow: inset 0px 0px 10px #ffffff;
  border-color: #fafafa;
  color: #fafafa;
}
#otherButton:active {
  background-color: #27a1e3;
  box-shadow: inset 0px 0px 10px #ffffff;
  border-color: #fafafa;
  color: #8ff2ff;
}
/*button states*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}