/*font-family: 'Noto Sans JP', sans-serif;*/

body {
  margin: 0;
  background-image: linear-gradient(20deg, #f5e7dc75 0%, #64428c85 85%);
 
}
.headcase {
  
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #051d5b;
  background-image: url(../images/starburst.png);
  background-repeat: no-repeat;
  
  background-position: center;
  z-index: 10;
  position: fixed;
  border-bottom: solid 10px #fec80e;
}

.PokemonLogo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 20px;
  font-size: 2rem;
  transform: scale(.8);
}


figcaption {
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  position: relative;
    bottom: 40px;
    height: 10px;
    max-width: 200;
    text-shadow: 
    -2px -2px 0px #2c64b7,
    2px -2px 0px #2c64b7,
     -2px 2px 0px #2c64b7,
     2px 2px 0px #2c64b7;
}


/* nav */
#navbar {
  width: auto;
  position: relative;
  bottom: 30px;
    height: 10px;
  z-index: 10;
  filter: drop-shadow( .2mm 1mm .0mm #27a1e3);
}

.navbuttons {
  margin-left: 10px;
}

/*card mat*/
.space {
  height: 260px
}

.wrapper {
  margin-right: 2.6rem;
}
.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scene {
  width: 200px;
  height: 260px;
  margin: 28px 0px 28px 40px;
  perspective: 600px;
  border-radius: 30px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: absolute;
}

.card.is-flipped {
  transform: rotateY(180deg);
  
}
.card__face {
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: .75rem;
  backface-visibility: hidden;
  border-radius: 30px;
}

.card__face--front {
  margin: 0;
  background-image: url(../images/base2.jpg);
  box-shadow: 
  -3px -3px 4px #051d5b inset,
  3px -3px 4px #051d5b inset,
   -3px 3px 4px #051d5b inset,
   3px 3px 4px #051d5b inset;
  border: solid 8px #fec80e;
  filter: drop-shadow(0.5mm 1mm 0.6mm #051d5b);
}

.card__face--back {
  background: green;
  transform: rotateY(180deg);
  border: solid 8px #fec80e;
}

.card__face ul {
  text-align: left;
  list-style-type: square;
}

img {
  padding-top: 4px;
  transform: scale(0.8);
  -webkit-filter: drop-shadow(2px 2px 0 black)
  drop-shadow(-2px -2px 0 black);
filter: drop-shadow(2px 2px 0 black) 
drop-shadow(-1px -2px 0 black);
}

figure img {
  filter: none;
}