header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  
}
.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 28px 12px;
  perspective: 600px;
  border-radius: 30px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: .75rem;
  backface-visibility: hidden;
  border-radius: 30px;
}

.card__face--front {
  background-image: url(../images/base2.jpg);
  box-shadow: 
  -3px -3px 4px #051d5b inset,
  3px -3px 4px #051d5b inset,
   -3px 3px 4px #051d5b inset,
   3px 3px 4px #051d5b inset;
  border: solid 8px #fec80e;
  filter: drop-shadow(0.5mm 1mm 0.6mm #051d5b);
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
  
}

.card__face ul {
  text-align: left;
  list-style-type: square;
}

img {
  padding-top: 4px;
  transform: scale(0.8);
  -webkit-filter: drop-shadow(2px 2px 0 black)
  drop-shadow(-2px -2px 0 black);
filter: drop-shadow(2px 2px 0 black) 
drop-shadow(-1px -2px 0 black);
}

figure img {
  filter: none;
}