
header {
    display: flex;
    justify-content: center;
    background-color: #101010;
    color: #27a1e3;
    font-family: "Libre Franklin";
}

h1 {
 margin: 20px;
 filter: drop-shadow( .2mm .4mm .6mm #27a1e380);
}

footer {
    display: flex;
    justify-content: center;
    background-color: #101010;
    color: #285a9f;
    font-weight: bold;
    font-variant: small-caps;
}

body {
    background-image: linear-gradient(0deg, #0d0f1b 0%, #101010 75%); 
}

main {
    min-width: 750px;
    
}


/* v error message v */
.image img {
    border-radius: 10px;
    border: solid 6px;
    
    
}
.card {
    border-radius: 10px;
    background-color: #101010;
    color: #27a1e3;
}
/* ^ error message ^ */

.container {
    display: flex;
    justify-content: space-between;
    
}

img {
    border-radius: 5px 70px 20px 20px;
    margin-top: 12rem;
    border: solid 4px #27a1e3;
    font-family: "Libre Franklin";
    filter: drop-shadow( .2mm .4mm .6mm #27a1e370);
    
}

.shipView {
align-items: center;
}

.nav {
    border: solid 4px black;
    padding: 10px 30px 10px 30px;
    background-color: #7b8da5;
    border-radius: 5px 70px 20px 20px;
    font-family: "Libre Franklin";
    font-weight: bold;
    box-shadow: inset 0px 0px 10px #285a9f;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
}

li {
    list-style-type: none;
    color: #fafafa;
    font-variant: small-caps; 
    font: outline;
    filter: drop-shadow(.6px .6px 4px #0d0f1b);
}
/* stars */

#space, .stars {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .stars {
    background-image: 
      radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
    animation: zoom 5s infinite;
    opacity: 0;
  }
  
  .stars:nth-child(1) {
    background-position: 50% 50%;
    animation-delay: 0s;
  }
  .stars:nth-child(2) {
    background-position: 20% 60%;
    animation-delay: 1s;
  }
  .stars:nth-child(3) {
    background-position: -20% -30%;
    animation-delay: 2s;
  }
  .stars:nth-child(4) {
    background-position: 40% -80%;
    animation-delay: 3s;
  }
  .stars:nth-child(5) {
    background-position: -20% 30%;
    animation-delay: 4s;
  }
  
  @keyframes zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
      animation-timing-function: ease-in;
    } 
    85% {
      opacity: 1;
      transform: scale(2.8);
      animation-timing-function: linear;
    }
    100% {
      opacity: 0;
      transform: scale(3.5);
    }
  }

 



