:root {
    box-sizing: border-box;
}

.scalp {
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #101010;
    color: #27a1e3;
    font-family: "Libre Franklin";
}

h1 {
 margin: 20px;
 filter: drop-shadow( .2mm .4mm .6mm #27a1e380);
}

footer {
    display: flex;
    justify-content: center;
    background-color: #101010;
    color: #285a9f;
    font-weight: bold;
    font-variant: small-caps;
}

body {
    background-image: linear-gradient(0deg, #0d0f1b 0%, #101010 75%); 
}

main {
    min-width: 750px;
    background-image: linear-gradient(0deg, #0d0f1b 0%, #101010 75%); 
}


/* v error message v */
.image img {
    border-radius: 10px;
    border: solid 6px;
    
    
}
.card {
    border-radius: 10px;
    background-color: #101010;
    color: #27a1e3;
}
/* ^ error message ^ */

.container {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    background-image: linear-gradient(0deg, #0d0f1b 0%, #101010 75%); 
}

img {
    border-radius: 5px 70px 20px 20px;
    margin-top: 12rem;
    border: solid 4px #27a1e3;
    font-family: "Libre Franklin";
    filter: drop-shadow( .2mm .4mm .6mm #27a1e370);
    
}

.nav {
    border: solid 4px black;
    padding: 10px 30px 10px 30px;
    background-color: #7b8da5;
    border-radius: 5px 70px 20px 20px;
    font-family: "Libre Franklin";
    font-weight: bold;
    box-shadow: inset 0px 0px 10px #285a9f;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
}

li {
    list-style-type: none;
    color: #fafafa;
    font-variant: small-caps; 
    font: outline;
    filter: drop-shadow(.6px .6px 4px #0d0f1b);
}





